/* 
  tc{
    background-color: rgba(10, 32, 134, 0.4);
  }

  tr {
    background-color: rgba(51, 132, 0, 0.4);
  } */

  /* tr {
    background-color: rgba(51, 132, 0, 0.4);

  } */
  
  /* th:nth-child(even),td:nth-child(even) {
    background-color: rgba(28, 132, 23, 0.4);
  } */
  