.image-holder {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 15rem;
  overflow: hidden;
  display: flex;
}

.image-holder img {
  position: relative;
  left: -100px;
  top: -10px;
  height: 110%;
  opacity: .5;
  object-fit: cover;
}

.server {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}